@import "tailwindcss";

@theme {
  --color-beige: #e9e9e6;
  --color-chez-red: #b8020a;
}

body {
  background-color: var(--color-beige);
  color: black;
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
