@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@theme {
  --color-beige: #e9e9e6;
  --color-plum: #340a10;
}

@font-face {
  font-family: 'Compotes Basilic';
  src: url('/compotes-basilic/Compotes-Basilic.woff2') format('woff2'),
       url('/compotes-basilic/Compotes-Basilic.woff') format('woff'),
       url('/compotes-basilic/Compotes-Basilic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--color-beige);
  color: var(--color-plum);
  font-family: 'Montserrat', system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.heading-font {
  font-family: 'Compotes Basilic', 'Montserrat', system-ui, sans-serif;
}
