@import "tailwindcss";

@theme {
  --color-beige: #e9e9e6;
  --color-chez-red: #b8020a;
}

@font-face {
  font-family: 'Compotes Basilic';
  src: url('/compotes-basilic/Compotes-Basilic.woff2') format('woff2'),
       url('/compotes-basilic/Compotes-Basilic.woff') format('woff'),
       url('/compotes-basilic/Compotes-Basilic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--color-beige);
  color: black;
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.heading-font {
  font-family: 'Compotes Basilic', system-ui, sans-serif;
}
